body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #132333;
    font-family: 'Gemunu Libre', sans-serif;
    font-size: x-large;
}

.container {
    margin-top: 10%;
    width: 500px;
    min-height: 300px;
    max-height: auto;
    max-width: 90%;
    background-color: #132333;
    padding: 10px;
    border-radius: 10px;
    color: #ffffff;
    font-family: 'Gemunu Libre', sans-serif;
    box-shadow: 0 0 20px 2px;
    /*border-style: solid;*/
    text-align: center;
}